<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>610083862961-q7s427nc8so613t9p55k2en2lgek749u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610083862961-q7s427nc8so613t9p55k2en2lgek749u</string>
	<key>API_KEY</key>
	<string>AIzaSyAniRk41D6fFPc0U8DcKSPRk3pn4CBahB8</string>
	<key>GCM_SENDER_ID</key>
	<string>610083862961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.101app.101</string>
	<key>PROJECT_ID</key>
	<string>app-31003</string>
	<key>STORAGE_BUCKET</key>
	<string>app-31003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610083862961:ios:12ef0f81a4d6b2bc</string>
	<key>DATABASE_URL</key>
	<string>https://app-31003.firebaseio.com</string>
</dict>
</plist>